[submodule "compiler-rt"]
	path = compiler-rt
	url = git://github.com/llvm-mirror/compiler-rt.git
[submodule "clang"]
	path = clang
	url = git://github.com/llvm-mirror/clang.git
[submodule "llvm"]
	path = llvm
	url = git://github.com/llvm-mirror/llvm.git
[submodule "cling"]
	path = cling
	url = http://root.cern.ch/git/cling.git
